* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#profpic {
  width: 25vw;
  margin: 6px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header {
  background-color: #bcd9f5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
header h1 {
  color: brown;
  font-size: 25px;
  margin: 2px;
}

#page-title {
  text-align: center;
}

.body-content {
  background-color: #bcd9f5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2vw;
  background-color: rgba(246, 255, 207, 0.905);
  justify-content: space-evenly;
  height: 100%;
}

body {
  background-color: rgba(246, 255, 207, 0.905);
  margin: 0px;
}

h1 {
  color: brown;
}

h2 {
  margin-top: 70px;
  position: relative;
  font-weight: 1500;
  color: green;
}

h3 {
  text-align: center;
  color: brown;
  font-size: 22px;
}

p {
  color: darkblue;
  font-size: 18px;
}

.centimg {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 90%;
  max-width: 470px;
}

.centimgmain {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
}

.headerinfo {
  background-color: #bcd9f5;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  border-bottom: solid #045664 1px;
  position: relative;
}

.nav {
  background: #99c8f5;
  display: flex;
  float: right;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.nav .menu {
  width: 105px;
  height: 35px;
  margin: 5px;
  background: rgba(246, 255, 207, 0.905);
  border: solid black 2px;
  font-size: 18px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}

#menu-selected {
  background-color: lightgreen;
}

.mob-social-media {
  padding: 35px;
  margin: 10px;
  width: 90%;
}
.mob-social-media img {
  width: 50px;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.social-media img {
  width: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 749px) {
  .social-media {
    display: none;
  }

  .nav {
    width: 100%;
  }

  #profpic {
    max-width: 133px;
  }
}
@media screen and (min-width: 750px) {
  .mob-social-media {
    display: none;
  }

  body {
    background: rgba(246, 255, 207, 0.905);
  }

  .headerinfo {
    height: 100vh;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    float: left;
  }

  #page-title {
    margin-left: 320px;
  }

  #profpic {
    width: 250px;
    margin: 6px;
  }

  .nav {
    width: calc(100% - 320px);
    border-bottom: solid 3px black;
  }

  .body-content {
    width: calc(100% - 320px);
    margin-left: 320px;
  }

  .social-media {
    padding-top: 50px;
  }

  h1 {
    padding-top: 30px;
  }

  .to-top {
    padding: 7px;
  }
}
.date-pub {
  text-align: left;
  font-family: serif;
  font-weight: 2500;
  color: darkgray;
  padding: 10px;
}

.to-top {
  background-color: #99c8f5;
  position: fixed;
  border-radius: 20px;
  right: 0;
  top: calc(95vh);
}

.contact-info {
  display: flex;
  max-width: 80vw;
  padding-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  bottom: 0px;
}
.contact-info h2 {
  margin: 2px;
}

#Role {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0.1em;
  text-align: left;
}

#contact-details {
  font-size: 16px;
  margin: 0px;
  max-width: 90vw;
}

.block {
  display: block;
  border: solid black 2px;
  border-radius: 30px;
  max-width: 500px;
  padding: 25px;
  margin: 10px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: solid #bcd9f5 1px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 25px;
  margin-bottom: 25px;
}

input[type=submit] {
  background-color: #4cb94c;
  color: white;
  padding: 12px 20px;
  border: solid black 2px;
  border-radius: 30px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  margin-bottom: 1em;
}

input {
  margin-bottom: 1em;
}

/*# sourceMappingURL=style.css.map */
